
  .nav-menu {
    list-style-type: none;
    display: flex;
    padding: 15px 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 5px 10px;
    transition: all 0.3s ease;
    position: relative;
}

.nav-menu a:hover {
    color: #f8bbd0;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #f8bbd0;
    transition: width 0.3s ease;
}

.nav-menu a:hover::after {
    width: 100%;
}

  @media (max-width: 768px){
    
    .nav-menu, .social-links {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .nav-menu li, .social-links li {
        margin: 5px 10px;
    }
  }